<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    <title><%= yield(:title) %> | Department of Computer Engineering - Kasetsart University</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <!--padding-->
    <div class="padding"></div>
    <%= render 'layouts/header' %>
    <div style="max-width:800px;" class="container center-block">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
