<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Department of Computer Engineering - Kasetsart University</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="max-width:800px;" class="container center-block">
      <%= yield %>
    </div>
  </body>
</html>
